
.parent{
    -fx-background-image: url("/org/example/sriptor/assets/BackgroundLogin.png");


}
.form{
    -fx-padding: 10px 10px;

    -fx-background-color: rgba(255, 255, 255, 0.7);
    -fx-alignment: center;


}
.formHeader{
    -fx-font-family: Satoshi;
    -fx-font:34px bold;


}
.logoHeader{
    -fx-background-image: url("/org/example/sriptor/assets/BackgroundLogin.png");
}



/* form */
.input-container-group{
    -fx-background-color: #FFFFFF;
    -fx-border-color: #D2D6DC;
    -fx-border-width: 1px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-padding: 4px 8px;

}

.input-field-nested{
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 6px 4px;
    -fx-text-fill: #3083DC;


}

.input-field-nested *.prompt{
    -fx-text-fill: black;
    -fx-opacity: 1.0;
}
.button{
    -fx-background-color: #3083DC;
    -fx-text-fill: #ffffff;
}
.button:hover{
    -fx-background-color: #ACDDE7;
    -fx-text-fill: #2f2f2f;
}


/*POS view*/
.navbar{
    -fx-background-color:#3083DC ;
}
#sidePanel{
    -fx-background-color: #ffffff;
}
#cartListScrollPanel{
    -fx-background-color: #ffffff;
}