
.parent{
    -fx-background-image: url("/org/example/sriptor/assets/BackgroundLogin.png");
}

.form{
    -fx-padding: 30;
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgbs(0,0,0,0.25),15,0,0,5);
    -fx-display: none;
}

.formHeader{
    -fx-font-family: Satoshi;
    -fx-font:34px bold;
    /*
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    */
}

.logoHeader{
    -fx-background-image: url("/org/example/sriptor/assets/BackgroundLogin.png");
}



/* form */
.input-container-group{
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #CCCCCC;
    -fx-font-size: 17px;
    -fx-font-color: black;
    -fx-padding: 5;
}

.input-field-nested{
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 6px 4px;
}

.input-field-nested *.prompt{
    -fx-text-fill: black;
    -fx-opacity: 1.0;
}
.button{
    -fx-background-color: #4CAF50;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-background-radius: 10px;
    -FX-border: 1.5px solid #4CAF50;
    -fx-cursor: hand;
    /*ANIMATIONS*/
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-transition: all 0.25s;
}
.button:hover{
    -fx-background-color: #2E7D32;
    -fx-scale-y: 1.06;
    -fx-scale-x: 1.06;
}
.button:pressed{
    -fx-background-color: #1B5E20;
    -fx-scale-x: 0.98;
    -fx-scale:y: 0.98;
}
/*Signup link to signup page*/
#noAccountLable{
    -fx-fill: #6B7280;
    -fx-font-size: 14px;
    -fx-font-family: "Sagoe UI";
}
#signUpLink{
    -fx-fill: #3B82F6;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-font-family: "Segoe UI";
}
/*Signup link to signup page*/
#noAccountLable{
    -fx-fill: #6B7280;
    -fx-font-size: 14px;
    -fx-font-family: "Sagoe UI";
}
#signUpLink{
    -fx-fill: #3B82F6;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-font-family: "Segoe UI";
}


/*POS view*/
.navbar{
    -fx-background-color:#3083DC ;
}
#sidePanel{
    -fx-background-color: #ffffff;
}
#cartListScrollPanel{
    -fx-background-color: #ffffff;
}
.rightParentPanel{
    -fx-background-color:#F8FAFC;
}
.sidePanelHeader{
    -fx-background-color:#FFFFFF ;
    -fx-background-radius: 10;
    -fx-border-color: #F3F4F9 ;
    -fx-border-radius: 10;
}

.boxForTotal{

    -fx-background-color:#F8FAFC ;
}
.amountBox{
    -fx-background-radius: 10;
    -fx-background-color:#ffffff;
    -fx-border-width: 1px;
    -fx-border-color: #F3F4F9 ;
    -fx-border-radius: 10;

}
.rightScrollPanel{
    -fx-background-radius: 10;
    -fx-background-color: rgba(255, 255, 255, 0.7);
    -fx-background-insets: 0;
    -fx-border-color: #F3F4F9 ;
    -fx-border-radius: 10;

}
.rightScrollPanel .scroll-bar:vertical, .rightScrollPanel .scroll-bar:horizontal{
    -fx-background-color: transparent;
    -fx-pref-height: 8px;
    -fx-pref-width: 8px;
}
.rightScrollPanel .scroll-bar .track{
    -fx-background-color: #F3F4F9;
    -fx-background-radius: 8px;
}
.rightGridPanel{
    -fx-background-radius: 10;
    -fx-border-color: #FFFFFF ;
    -fx-border-width: 0px;
    -fx-border-radius: 10;

}
/*                */

.leftParentPanel{
    -fx-background-color:#F8FAFC;
}

#posActionButtons{

}
#checkoutButton{

}

/*Product UI*/
.productBox{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-width: 1px;
    -fx-border-color: #F8FAFC;
}
.productBox:hover{
    -fx-border-width: 1px;
    -fx-border-color: #3083DC;
}